@model IEnumerable<Product>
@{ Layout = "_SimpleLayout"; }
@{
    decimal average = Model.Average(p => p.Price);
}
<!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h6 class="bg-secondary text-white text-center m-2 p2">Products</h6>
    <div class="m-2">
        <table class="table table-sm table-striped tablebordered">
            <thead>
                <tr>
                    @*<th>Name</th><th>Price</th>*@
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product p in Model)
                {
                    @*<tr>
                        <td>@p.Name</td>
                        <td>@p.Price</td>
                        <td>
                            @((p.Price / average * 100).ToString("F1"))
                            % of average
                        </td>

                    </tr>*@
                    <partial name="_RowPartial" model="p" />
                }
            </tbody>
        </table>
        <a asp-page="/suppliers/list" class="btn btn-secondary">Suppliers</a>
    </div>
</body>
</html>